{% extends "base.html" %}

{% block content %}
  <h1>
    Lista de Membros
    <a class="btn btn-primary" href="{% url 'member:member_create' %}">Adicionar</a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>
            <a href="{{ object.get_absolute_url }}">{{ object }}</a>
          </td>
          <td>
            <a href="{% url 'member:member_update' object.pk %}">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}